    body {
        margin: 0 0;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
    .vidcontrol-container {
        margin: 0 auto;
        width: 500px;
        height: 555px;
        border: 2px solid #000;
        background: #eee;
        padding-top: 0;
    }
    
    img.vidpreview {
        width: 500px;
        height: 500px;
        margin-bottom: -500px;
    }
    div.vidoverlay {
        width: 500px;
        height: 500px;
        position: relative;
    }
    
    div.slider-pan {
        position: absolute;
        width: 450px;
        bottom: 20px;
        left: 25px;
        z-index: 5;
    }

    div.slider-tilt {
        position: absolute;
        height: 400px;
        top: 50px;
        right: 15px;

    .vidcontrol-container table {
        width: 500px;
        height: 100px;
    }
    
    form.dpad input {
        width: 4em;
    }
